@import "../utils.scss";

.wrapper {
  // border-top: 1px solid $oc-gray-4;
  display: flex;
  align-items: center;
  background-color: $oc-gray-0;
  height: 74px;
  font-size: 0.7em;
  color: $oc-gray-7;
  font-weight: bold;
  padding: 0 32px;
  @include media("<=medium") {
    display: none; // 모바일 환경에선 안 보여줌.
  }
}
