// open-color 패키지 (색상 믹스인 적용)
@import "~open-color/open-color";
// include-media 패키지 (반응형 믹스인 적용)
@import "~include-media/dist/include-media";

$breakpoints: (
  small: 376px,
  medium: 768px,
  large: 1024px,
  huge: 1200px
);

@mixin place-at-center() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
